* {
  border: 1px solid green;
}

.background {
  background: #13a284;
  min-height: 100vh;
}

.container-navbar {
  border-bottom: 1px solid #4deb85;
}

.active {
  background-color: #4deb85;
  border-radius: 50px;
}

.page-heading {
  color: #095142;
}

.convert-wrap {
  background-color: #fff;;
  border-radius: 5px;
  height: 300px;
}

.convert-inner {
  margin-bottom: 20px;
  margin-top: 20px;
}

.currency-input {
  background-color:transparent;
  border-radius: 5px;
  border: none !important;
  border-radius: 0;
  font-size: 32px;
  height: 50px;
  text-align: center;
}

.currency-name {
  color: #a6a6a6;
  font-size: 14px;
}

.currency-option {
  font-size: 12px;
}

.currency-button {
  font-size: 32px;
  border-radius: 0;
  width: 150px;
  height: 50px;
}

.currency-flag {
  height: 30px;
}

.currency-arrow {
  margin: auto 0;
}

.currency-base-to-quote {
  right: 220px;
  color: #a6a6a6;
  font-size: 14px;
}

.conversion-date {
  color: #a6a6a6;
  font-size: 14px;
}

.convert-box {
  border-bottom: 1px solid #a6a6a6;
  margin-right: 12px;
  margin-left: 12px;
  width: 180px;
  text-align: center;

}

.content {
  min-height: calc(100vh - 200px);
}

footer {
  font-size: 14px;
  height: 70px;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




