/*  ---- Layout Component ---- */
.background {
  background: #13a284;
  min-height: 100vh;
}

.container-navbar {
  border-bottom: 1px solid #4deb85;
}

.active {
  background-color: #4deb85;
  border-radius: 50px;
}

.content {
  min-height: calc(100vh - 200px);
}

footer {
  font-size: 14px;
  height: 70px;
}

/*  ---- Convert & Rates Component ---- */
.page-heading {
  color: #095142;
}

.convert-wrap {
  background-color: #fff;;
  border-radius: 5px;
  height: 300px;
}

.rates-wrap {
  background-color: #fff;;
  border-radius: 5px;
  min-height: 100px;
}

.convert-inner {
  margin-bottom: 20px;
  margin-top: 20px;
}

.convert-box {
  border-bottom: 1px solid #a6a6a6;
  margin-right: 12px;
  margin-left: 12px;
  width: 180px;
  text-align: center;
}

.currency-name {
  color: #a6a6a6;
  font-size: 14px;
}

.currency-option {
  font-size: 12px;
}

.currency-button {
  font-size: 32px;
  border-radius: 0;
  width: 150px;
  height: 50px;
}

.currency-flag {
  height: 30px;
}

.currency-arrow {
  margin: auto 0;
}

.currency-input {
  background-color:transparent;
  border: none !important;
  border-radius: 0;
  font-size: 32px;
  line-height: 32px;
  height: 50px;
  text-align: center;
}

.currency-base-to-quote {
  right: 220px;
  color: #a6a6a6;
  font-size: 14px;
}

.conversion-date {
  color: #a6a6a6;
  font-size: 14px;
}

@media (max-width: 992px) {
  .currency-input {
    font-size: 24px;
    line-height: 24px;
    padding: 0;
  }

  .currency-flag {
    height: 20px;
  }

  .convert-box {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 768px) {
  .convert-wrap {
    height: 350px;
  }
}

@media (max-width: 433px) {
  .convert-wrap {
    height: 550px;
  }
}

/*  ---- Chart Component ---- */
.chart-heading {
  color: #095142;
}

.chart-heading p {
  font-size: 12px;
}

/*  ---- RatesTable Component ---- */
.tr-border {
  border-bottom: #a6a6a6;
}

.table-acronym {
  font-size: 20px;
  font-weight: bold;
  color: #13a284;
}

.table-name {
  color: #a6a6a6;
}

.table-rate a {
  color: #13a284;
}















